 @import url('https://fonts.googleapis.com/css?family=Consolas');

 @font-face {
   font-family: 'dank_monoitalic';
   src: url('dankmono-italic-webfont.woff2') format('woff2'),
     url('dankmono-italic-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: 'dank_monoregular';
   src: url('dankmono-regular-webfont.woff2') format('woff2'),
     url('dankmono-regular-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
 }

 code[class*="language-"],
 pre[class*="language-"] {
   color: #f8f8f2;
   background: none;
   text-shadow: 0 1px rgba(0, 0, 0, 0.3);
   font-family: 'Consolas', monospace;
   font-size: 1rem;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;

   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;

   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }

 /* Code blocks */
 pre[class*="language-"] {
   padding: 1em;
   margin: .5em 0;
   overflow: auto;
   border-radius: 0.3em;
 }

 :not(pre)>code[class*="language-"],
 pre[class*="language-"] {
   background: #01233d;
 }

 /* Inline code */
 :not(pre)>code[class*="language-"] {
   padding: .1em;
   border-radius: .3em;
   white-space: normal;
 }

 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: slategray;
 }

 .token.punctuation {
   color: rgb(240, 169, 38);
 }

 .namespace {
   opacity: .7;
 }

 .token.property,
 .token.tag,
 .token.constant,
 .token.symbol,
 .token.deleted {
   color: #f92672;
 }

 .token.boolean,
 .token.number {
   color: #fd971f;
 }

 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
   color: #a6e22e;
 }

 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
   color: rgb(248, 40, 33);
 }

 .token.atrule,
 .token.attr-value,
 .token.function {
   color: rgb(233, 52, 142);
 }

 .token.keyword {
   font-family: 'dank_monoitalic', 'Consolas', sans-serif;
   color: #c792ea;
 }

 .token.regex,
 .token.important {
   color: #fd971f;
 }

 .token.important,
 .token.bold {
   font-weight: bold;
 }

 .token.italic {
   font-style: italic;
 }

 .token.entity {
   cursor: help;
 }