/***************
KEYFRAMES
****************/

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Avenir", sans-serif;
}

html {
  background-color: rgba(122, 143, 255, 0.08);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/****************************************
  HEADER
*****************************************/

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgb(122, 143, 255);
  background: linear-gradient(140deg,
      rgba(122, 143, 255, 0.99) 0%,
      rgba(255, 143, 166, 1) 100%);
  width: 85%;
  height: 320px;
  margin: 20px auto 0 auto;
  border-radius: 25px;

  &>h2 {
    color: #fff;
    font-size: 75px;
    margin-top: -45px;
  }

  &>p {
    margin-bottom: 10px;
    opacity: 0.9;
    color: #fff;
    font-size: 22px;
  }

  @media only screen and (max-width: 940px) {
    width: 95%;
  }

  @media only screen and (max-width: 420px) {
    width: 80%;
    height: 260px;

    &>h2 {
      font-size: 3rem;
    }

    &>p {
      font-size: 1.25rem;
    }
  }

  @media only screen and (max-width: 320px) {
    width: 90%;
  }
}

.author-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 120px;
  position: absolute;
  bottom: -60px;
  right: -25px;
  padding: 15px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.14);

  &>div {
    display: flex;
    justify-content: center;
    align-items: center;

    &>p {
      color: #888;
      font-size: 18px;
      max-width: 70%;
    }
  }

  @media only screen and (max-width: 940px) {
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    bottom: -100px;
    height: 140px;
  }

  @media only screen and (max-width: 420px) {
    height: 120px;
    bottom: -60px;
    width: 90%;
    left: initial;
    right: -20px;
    margin: 0;
    border-radius: 25px;

    &>div {
      &>p {
        font-size: 14px;
      }
    }
  }

  @media only screen and (max-width: 320px) {
    right: -10px;

    &>div {
      &>p {
        font-size: 12px;
      }
    }
  }
}

.author-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 25px;

  @media only screen and (max-width: 420px) {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
}

.author-social {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  position: absolute;
  top: -25px;
  right: 0;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    transition: all 300ms;

    &:hover,
    &:focus {
      transform: translateY(-5px);
      box-shadow: 0px 6px 18px 1px rgba(0, 0, 0, 0.2);
    }

    img {
      width: 25px;
      height: 25px;
    }
  }

  @media only screen and (max-width: 420px) {
    top: -16px;
    right: 3px;

    a {
      width: 35px;
      height: 35px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

/****************************************
  LAYOUT / GRID
*****************************************/

.layout {
  max-width: 72%;
  margin: 0 auto;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #ddd;
  }

  @media only screen and (max-width: 940px) {
    max-width: 100%;
    min-width: 100%;

    &::before {
      left: 0;
      right: 0;
      margin: 0 auto;
      top: -20px;
      width: 90%;
      height: 1px;
    }
  }
}

.layout__inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-top: 140px;

  @media only screen and (max-width: 940px) {
    margin-top: 200px;
    padding-left: 0;
    padding: 2px;
    grid-gap: 0.5rem;
  }
}

/****************************************
  ASIDE / TAGS
*****************************************/

.blog__tags {
  position: absolute;
  top: 0;
  left: -205px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  h3 {
    position: relative;
    font-size: 14px;
    letter-spacing: 1px;
    color: #888;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 10px;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      left: -10px;
      bottom: -4px;
      margin: 0 auto;
      width: 140%;
      height: 1px;
      border-radius: 20px;
      background-color: #ddd;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      margin-bottom: 20px;

      button {
        cursor: pointer;
        width: 100%;
        height: 100%;
        border: none;
        background: inherit;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        text-align: right;
        color: #a5a5a5;
        border: none;
        padding: 4px 10px;
        border-radius: 20px;
        transition: 0.15s;

        &:hover,
        &:focus,
        &:active {
          transform: translateX(-10px);
        }

        &:active {
          color: #fff;
        }
      }
    }
  }

  @media only screen and (max-width: 940px) {
    top: -60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;

    h3 {
      display: block;
      margin-bottom: 0;
      max-width: 15%;

      &::before {
        right: -55px;
        left: 0px;
        bottom: -2px;
        height: 120%;
        width: 2px;
      }
    }

    ul {
      width: 80%;
      flex-direction: row;
      justify-content: flex-start;
      overflow-x: scroll;
      margin-top: 5px;
      padding: 2px;
      margin-left: 5px;

      li {
        margin-right: 5px;
        margin-bottom: 8px;

        button {

          &:hover,
          &:focus,
          &:active {
            transform: translateX(0);
          }
        }
      }
    }
  }
}

.tag--bg {
  background: linear-gradient(140deg,
      rgba(122, 143, 255, 1) 0%,
      rgba(255, 143, 166, 1) 100%) !important;
  color: #fff !important;
  text-align: center !important;
  font-weight: bold !important;

  &:hover,
  &:focus,
  &:active {
    transform: translateX(0px) !important;
  }
}

/****************************************
  POSTS / GRID
*****************************************/

.post {
  width: 320px;
  height: 300px;
  position: relative;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: all 300ms;
  margin-bottom: 10px;

  &:hover,
  &:focus {
    transform: translateY(-5px);
    box-shadow: 0px 12px 23px 1px rgba(0, 0, 0, 0.2);
  }

  @media only screen and (max-width: 420px) {
    margin-bottom: 15px;
  }
}

.post__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  position: relative;
  background: linear-gradient(140deg,
      rgba(122, 143, 255, 0.99) 0%,
      rgba(255, 143, 166, 1) 100%);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 20px;

  h3 {
    color: #fff;
    font-size: 22px;
    position: relative;
  }
}

.post__description {
  position: relative;
  padding: 25px 20px 20px 20px;

  p {
    color: #777;
  }
}

.post__tags {
  position: absolute;
  bottom: 15px;
  left: 10px;
  max-width: 80%;

  ul {
    display: flex;
    justify-content: space-evenly;
    margin-left: 22px;

    &:before {
      content: "#";
      font-size: 20px;
      font-weight: bold;
      color: #bfbfbf;
      position: absolute;
      left: 5px;
      bottom: -5px;
    }

    li {
      list-style: none;
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
      background: linear-gradient(140deg,
          rgba(122, 143, 255, 0.99) 0%,
          rgba(255, 143, 166, 1) 100%);
      border-radius: 20px;
      padding: 3px 6px;
      margin-right: 5px;
    }
  }
}

.post__date {
  position: absolute;
  top: -13px;
  right: 0;
  font-size: 12px;
  font-weight: bold;
  color: #ababab;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1);
}

/****************************************
  BLOGPOST
*****************************************/

.blogpost-container {
  width: 850px;
  min-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px;
  margin-top: 1rem;
  box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.1);

  h1 {
    margin-bottom: 20px;
  }

  iframe {
    height: 400px;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }

  @media only screen and (max-width: 420px) {
    max-width: 100%;
    min-width: auto;
    padding: 15px;
    margin-top: 0;
  }
}

.blogpost {
  position: relative;

  p {
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 10px;
    text-align: justify;

    img {
      display: block;
      margin: 0 auto;
      max-width: 80%;
      border-radius: 5px;
    }

    a {
      position: relative;
      display: inline;
      margin-left: 2px;
      background-color: rgba(255, 143, 166, 1);
      border-radius: 5px;
      color: #fff;
      padding: 0 5px;
      z-index: 1;
      text-decoration: none;
      transition: all 100ms;

      &:hover,
      &:focus {
        box-shadow: 0px 4px 10px 1px rgba(255, 143, 166, 0.4);
      }
    }

  }

  blockquote {
    font-style: italic;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px 20px;
    position: relative;
    background-color: rgba(122, 143, 255, 0.1);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: right;
    margin-top: 1rem;
    margin-bottom: 1rem;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -8px;
      width: 8px;
      height: 100%;
      background-color: rgba(122, 143, 255, 0.3);
      z-index: 100;
    }

    &:after {
      content: "";
      visibility: hidden;
      display: block;
      height: 0;
      clear: both;
    }

    footer {
      font-weight: bold;
      font-style: italic;
      float: right;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        bottom: 10px;
        left: -12px;
        width: 10px;
        height: 2px;
        background-color: #000;
        z-index: 100;
      }
    }

    @media only screen and (max-width: 420px) {
      width: 90%;

      p {
        line-height: 24px;
        margin-bottom: 5px;
      }
    }
  }

  @media only screen and (max-width: 420px) {
    p {
      font-size: 16px;
      line-height: 32px;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
}

.blogpost__header {
  width: calc(100% + 40px);
  min-height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(140deg,
      rgba(122, 143, 255, 0.99) 0%,
      rgba(255, 143, 166, 1) 100%);
  margin-left: -20px;
  margin-top: -20px;
  padding: 0;
  margin-bottom: 1rem;

  @media only screen and (max-width: 420px) {
    width: calc(100% + 30px);
    margin-left: -15px;
    border-radius: 0;
  }
}

.header--title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 0 20%;

  h1 {
    color: #fff;
    font-size: 22px;
    margin-top: 20px;
    margin-left: -19.5%;
  }

  @media only screen and (max-width: 420px) {
    padding: 0 10% 0 20%;

    h1 {
      font-size: 18px;
    }
  }
}

.blogpost--home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 120px;
  min-width: 10%;
  background: transparent;
  border-top-left-radius: 20px;
  padding: 5px 20px;
  transition: all 300ms;
  z-index: 5;

  img {
    width: 2rem;
  }

  &:focus,
  &:hover {
    filter: opacity(60%);
  }

  &:after {
    content: "";
    position: absolute;
    top: 10%;
    right: 0;
    width: 1px;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.2);
  }

  @media only screen and (max-width: 420px) {
    img {
      width: 1.5rem;
    }
  }
}

.header--content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 2rem;

  &:after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    opacity: 0.8;
  }
}

.blogpost--date {
  font-size: 16px;
  font-weight: 500;
  color: #888;
}

.blogpost--tags {
  display: flex;
  height: 22px;

  &>p:first-of-type {
    letter-spacing: 1px;
    margin-right: 5px;
    color: #888;
    font-weight: bold;
    font-size: 12px;
    margin-top: 4px;
  }

  &>p {
    display: inline-block;
  }
}

.blogpost--tag {
  display: inline-block;
  background: linear-gradient(140deg,
      rgba(122, 143, 255, 1) 0%,
      rgba(255, 143, 166, 1) 100%);
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 0 12px;
  border-radius: 20px;
  margin-right: 5px;
}

.blogpost--links {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  a {
    padding: 10px;
    background-color: rgba(255, 143, 166, 1);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    transition: all 300ms;

    &:hover,
    &:focus {
      box-shadow: 0px 6px 12px 1px rgba(0, 0, 0, 0.2);
    }

    &:first-of-type {

      &:hover,
      &:focus {
        transform: translateY(-2px) translateX(-4px);
      }
    }

    &:last-of-type {
      margin-left: 5px;

      &:hover,
      &:focus {
        transform: translateY(-2px) translateX(4px);
      }
    }
  }
}